#--------------------------
# Amazon Web Services
#--------------------------

# Cloud provider name
cloud_provider_name = "Amazon AWS"
cloud_provider_shortname = "AWS"
environment_name = "Proof Of Concept"
environment_shortname = "POC"

# Access Key
AWS_ACCESS_KEY_ID = "YOUR_AWS_ACCESS_KEY"

# Secret Key
AWS_SECRET_ACCESS_KEY = "YOUR_AWS_SECRET_KEY"

# EC2 SSH Key Name
AWS_SSH_KEY_NAME = "YOUR_AWS_SSH_KEY_NAME"

# Region
AWS_DEFAULT_REGION = "THE_AWS_ZONE_TO_USE"

# Default Rout53 domain to create
route53_private_domain = "ca.treeptik.internal"

# Global Name
aws_cluster_name = "treeptik"

# VPC Vars
aws_vpc_cidr_block = "10.250.192.0/18"
aws_cidr_subnets_private = ["10.250.192.0/20","10.250.208.0/20"]
aws_cidr_subnets_public = ["10.250.224.0/20","10.250.240.0/20"]

# Bastion Host
aws_bastion_num = 2
aws_bastion_type = "t2.micro"

# Cluster
aws_master_num = 3
aws_master_type = "t2.medium"

aws_worker_num = 4
aws_worker_type = "t2.medium"

# Default SSH User
default_user = "ubuntu"

# Default resources tags
default_tags = {
 Env = "poc"
 Owner = "admin"
 Automate = "terraform"
 Autoscale = "false"
}
